@page
@model Lab3.Pages.Login.FacultyLoginModel
@{
}
<head>
    <style>
        body {
            background-color: #CBC3E3;
            color: #fff;
        }

        .btn-primary {
            background-color: #450084;
            border-color: #450084;
        }

            .btn-primary:hover {
                background-color: #4d0099;
                border-color: #4d0099;
            }
    </style>
</head>
<div class="text-center">
    <h1 class="display-6">Faculty Login</h1>
</div>
<body>
    <form asp-page="FacultyLogin">
        <label>Enter Username:</label>
        <input asp-for="Username" class="form-control" />
        <br />
        <label>Enter Password:</label>
        <input asp-for="Password" class="form-control" type="password" />
        <br />
        <input type="submit" class="btn btn-primary" />
    </form>
    <br />
    @{
        if (HttpContext.Session.GetString("Username") != null)
        {
            <p class="text-success">@ViewData["LoginMessage"]</p>
        }
        else
        {
            <p class="text-danger">@ViewData["LoginMessage"]</p>
        }
    }

    <div class="align-text-bottom-right">
        <a class="btn btn-primary" href="/Login/CreateFaculty">Create Account</a>
    </div>


</body>
