@page
@model Lab3.Pages.FacultyPages.FacultyHomeModel
@{
}

<style>
    body {
        background-color: #CBC3E3;
    }

    .btn-secondary {
        background-color: #450084;
        border-color: #450084;
    }

        .btn-secondary:hover {
            background-color: #6b2ebe;
            border-color: #6b2ebe;
        }
</style>

@{
    var username = HttpContext.Session.GetString("Username");
}

@*Header*@
<div class="text-left">
    Riley Hadley and Jack Riley
</div>

@*Display JMU Logo*@
<div class="text-center">
    <h1 class="display-4">Welcome @username !</h1>
    <br />
    <img src="~/images/jmu-seal-rgb-purple.png" />
</div>
<br />
<br />


@*Redirect buttons*@
<div class="text-center">
    <a class="btn btn-secondary" href="/FacultyPages/MeetingManager">Meeting Manager</a>
    <a class="btn btn-secondary" href="/FacultyPages/QueueManager">Queue Manager</a>
    <a class="btn btn-secondary" href="/FacultyPages/OfficeHoursManager">Office Hours Manager</a>
    <a class="btn btn-secondary" href="/Index">Logout</a>
</div>
<br>

@*Header for faculty list*@
<div class="text-center">
    <h1 class="display-6">Scheduled Office Hours</h1>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Days</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Waiting Room</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var officeHours in Model.OfficeHoursList)
        {
            <tr>
                <td>@officeHours.OfficeHoursDays</td>
                <td>@officeHours.OHStartTime</td>
                <td>@officeHours.OHEndTime</td>
                <td>@officeHours.WaitingRoom</td>
            </tr>
        }

    </tbody>
</table>