@page
@model Lab3.Pages.FacultyPages.MeetingManagerModel
@{
}

<style>
    body {
        background-color: #CBC3E3;
    }

    .btn-primary {
        background-color: #450084;
        border-color: #450084;
    }

        .btn-primary:hover {
            background-color: #6b2ebe;
            border-color: #6b2ebe;
        }
</style>
@*Header*@
<div class="text-left">
    Riley Hadley and Jack Riley
</div>
<div class="text-center">
    <h1 class="display-8">Meeting Manager</h1>
    <br />
    <a class="btn btn-secondary" href="/FacultyPages/FacultyHome">Faculty Home</a>
    <a class="btn btn-secondary" href="/FacultyPages/QueueManager">Queue Manager</a>
    <br />
    <br />
    <h3 class="display-8">Upcoming Meetings</h3>
</div>

@*Placeholder table for meeting manager*@
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Email</th>
            <th>Command:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Julie</td>
            <td>Saranson</td>
            <td>jsara@dukes.jmu.edu</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-primary">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Bill</td>
            <td>Brasanki</td>
            <td>bbras@dukes.jmu.edu</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-primary">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Aliyah</td>
            <td>Markinson</td>
            <td>amark@dukes.jmu.edu</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-primary">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<br />
<br />